header{
    background-image: url(pepers2.jpg);
    background-repeat: no-repeat;
    line-height: 750%;
    background-position: center;
    text-indent: 1em;
}
h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    font-size: large;
}
body{
    color: red;
    background-color: navajowhite;
}
table, tr{
    background-color: white;
    border-collapse:collapse;
    border: solid 2px #BDDFF0;
}
td, th{
    padding: .5em;
    border: solid 2px #3399CC;
}
td{
    text-align: center;
}
input[type="submit"] {
    margin-left: 140px; 
}
label{  
    float: left;
    display: block;
    text-align: left;
    width: 140px;
    padding-right: 5px;
}
input, textarea {
    display: block;
    margin-bottom: 20px;
}
nav{
    margin-bottom: 20px;  
}
nav a { 
    color: red;  
    text-decoration: none;
    padding: 1em 2em;
    transition: color  2s linear;  
}
nav a:hover { 
    color: black;
}